<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279476778045-gk44eobuhd0rn5v48hqe61oa191lqdiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279476778045-gk44eobuhd0rn5v48hqe61oa191lqdiv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279476778045-8svtvnobais4prjo4v79s93m24f5q6h3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTBpvLSSFI-i7Phe-7pbdr9HARVOaVdHU</string>
	<key>GCM_SENDER_ID</key>
	<string>279476778045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ormancey.mobile-chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-64d7b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-64d7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279476778045:ios:7542741f041a2833b7a654</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-64d7b.firebaseio.com</string>
</dict>
</plist>